*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    z-index: 1;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 80%;
    height: 700px;
    background: linear-gradient(135deg, rgba(0, 128, 255, 0.291), rgba(128, 0, 255, 0.8));
    backdrop-filter: blur(80px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin-left: 200px;
    margin-top: 150px;
    border-radius: 20px;
}

.title{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin-top: 20px;
}

.section-img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; 
    height: 200px;
    width: 80%;
    margin-top: 30px;
    margin-right: 150px;
}


.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.section-input {
    background-color: #301567;
    border: 2px solid #ffffffa1;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 650px; 
    margin-top: -170px;
    margin-bottom: 120px;
}

.section-input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.inputNome, .inputValor, .inputQuantidade{
    margin-top: 50px;
}

.input, input::placeholder{
    color: white;
}

.botao-cadastrar{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.botaoCadastrar{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: 2px solid;
    outline: none;
    border-radius: 40px;
    box-shadow: inset 0 0 0 0  rgb(1, 64, 1);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.botaoCadastrar:hover{
    box-shadow: inset 400px 0 0 0 rgb(13, 150, 13);
    color: #fff;
    cursor: pointer;
}

.botao-listar{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.botaoListar{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: 2px solid;
    outline: none;
    border-radius: 40px;
    box-shadow: inset 0 0 0 0  rgb(2, 2, 75);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.botaoListar:hover{ 
    box-shadow: inset 400px 0 0 0 blue;
    color: #fff;
    cursor: pointer;
}

#error-msg{
    color: red;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

